.App {
  background-color: #4370f1;
  border: 2px solid black;
  width: 675px;
  height: 575px;
  border-radius: 2%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 35px;
  /* width: 100%; */
}

.cell {
  border: 2px solid black;
  background-color: white;
  display: flex;
  display: inline-block;
  padding: 25px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  font-family: monospace;
  margin-right: 10px;
  margin-top: 10px;
}

p {
  color: transparent;
}

h1 {
  color: black;
}

h1.App-title {
  color: transparent;
}

.cell.p1 {
  background-color: yellow;
}

.cell.p2 {
  background-color: red;
}

h1.p1 {
  color: yellow;
}

h1.p2 {
  color: red;
}

/* For reset button - To reset game */
.reset {
  background-color: #4370f1;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px;
  text-transform: uppercase;
}
