.App {
  text-align: center;
  /* border: 2px solid black;
  width: 600px; */
}

p {
  color: transparent;
  /* color: black; */
}

h1 {
  color: black;
}

h1.App-title {
  color: transparent;
}

h1.p1 {
  color: yellow;
}

h1.p2 {
  color: red;
}

body {
  /* align-items: center; */
  /* background: white; */
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  /* font-family: sans-serif; */
  padding: 25px;
  width: 95%;
  background-color: #4370f1;
}

.cell {
  align-items: center;
  display: flex;
  border: 2px solid black;
  background-color: white;
  display: inline-block;
  padding: 25px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  font-family: monospace;
}

.cell.p1 {
  background-color: yellow;
}

.cell.p2 {
  background-color: red;
}

.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 700px;
}

.reset {
  background-color: #4370f1;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px;
  text-transform: uppercase;
}
